@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

body {
  background-color: #151515;
}

h2 {
  color: #fff;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin: 3rem;
  width: 100%;
  gap:3px;
}

.search input,
.search button {
  background: transparent;
  /* width: 10rem; */
  outline: none;
  color: #fff;
  padding: 5px;
  border: 2px solid rgba(255, 0, 0, 0.6);
}

.search input {
  width: 25%;
}

.search button {
  cursor: pointer;
}

.search button:hover {background-color: rgba(255, 0, 0, 0.6);}
.search button:active {transform: scale(0.9);}

/* .movies-container {
  width: 100%;
}*/

h1 {
  text-align: center;
  color: #fff;
  padding: 10px;
}

/* Add these styles to your existing style.css file or create a new one */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.search {
  margin-bottom: 20px;
}

.movies-container {
  width: auto;
  text-align: center;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  gap: 20px;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
}

.info {
  padding: 10px;
}

h2 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.single-info {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  color: #777;
  font-size: 0.9rem;
}

.single-info span {
  color: #fff;
}

.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, .0, .0, .0.9)), url(https://unsplash.it/1600/900);
  background-size: cover;
  background-position: center;
  background-color: #151515;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 3rem;
  overflow-y: scroll;
  z-index: 1;
  opacity: 0; /* Set initial opacity to 0 */
  pointer-events: none; /* Disable pointer events by default */
  transition: opacity 0.3s ease-in-out; /* Add transition for opacity */

  /* As default it will be hidden */
  transform: scale(0);
  transition: 200ms ease-in-out transform;
}

.popup-container.show-popup {
  transform: scale(1);
  opacity: 1; /* Make it visible on show */
  pointer-events: auto; /* Enable pointer events on show */
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  width: 1200px;
  margin-top: 10rem;
}

.content .left .single-info {
  font-size: 1rem;
  padding: .5rem 0;
}

.content .left .single-info .heart-icon {
  font-size: 2rem;
  user-select: none;
  cursor: pointer;
}

.content .left .single-info .heart-icon:hover {
  transform: scale(1.1);
}

.content .left .single-info .heart-icon:active {
  transform: scale(.9);
}

.poster-img {
  width: 300px;
  height: 400px;
  overflow: hidden;
  margin-top: 100px;
  border-radius: .5rem;
  box-shadow: 0 0 .5rem rgba(255, .0, .0, .1);
  border: 1px solid rgba(255, .0, .0, 1)
}

.poster-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-info-container {
  width: 200px;
}
.right > *:not(h1) {margin: 1rem 0; }
.single-info-container span {
  color: #fff;
}


.trailer iframe {
  border: 2px solid rgba(255, .0, .0, .1);
  box-shadow: 0 0 .5rem rgba(255, .0, .0, .1);
  border-radius: .5rem;
  max-width: 400px;
  width: 100%;
  height: 200px;
}

.x-icon {
  font-size: 2rem;
  position: absolute;
  top: 100px;
  right: 100px;
  cursor: pointer;
  user-select: none;
  z-index: 2;
}

.x-icon:hover {
  transform: scale(1.3);
}

.x-icon:active {
  transform: scale(1);
}

.show-popup {
  transform: scale(1)
}

.genres h2 {
  color: #fff;
}

.overview h2 {
  color: #fff
}

.trailer h2 {
  color: #fff;
}

/* Add these styles to your existing style.css file or create a new one */

.favorite-heart-icon.change-color {
  color: #ff0000;
}

.favorite-heart-icon.change-white-color {
  color: #fff;
}

.favorite-item {
  position: relative;
  /* Other styles for your favorite item */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.favorite-item:hover .overlay {
  display: flex;
}

.delete-button {
  background-color: #ff0000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

